@model  Blog
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/RemindWebApp/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content:center ">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="~/img/@Model.ImagePath" alt="Card image cap">
                <div class="card-body">

                    <h5>Title is: @Model.Title</h5>
                    <h5>link is: @Model.Link</h5>
                    @if (Model.HeaderBig != null)
                    {
                        <h5>@Model.HeaderBig</h5>
                    }
                    @if (Model.HeaderSmall != null)
                    {
                        <h5>@Model.HeaderSmall</h5>
                    }
                    <h4>Created Day is: @Model.CreatedDate</h4>
                    <a asp-action="Index" class="btn btn-primary"> <i class="fas fa-arrow-left"></i> Go Back </a>
                </div>
            </div>
        </div>
    </div>
</div>

